<h3>Pedro Henrique Bertoldi</h3>
<p class="mb-1 mt-3">
    E-mail: henrique_pedro900@hotmail.com<br />
    País de Nacionalidade: Brasil<br />
    Celular: (41)997242632<br />
    Endereço: Rua Francisco Torres 545 Centro 80060130 Curitiba Paraná Brasil<br />
    Site Pessoal / Blog: <a href="https://www.linkedin.com/in/pedro-henrique-bertoldi-3045901a6/">Linkedin</a>
</p>
<h4 class="my-3">Resumo Profissional</h4>
<p class="mb-1">
    Conhecimentos prévios em linguagens de programação: .NET(C# e VBA), Python, MATLAB, Type Script, Java Script e LabView.<br />
    Experiência em frameworks Angular e Entity Framework.<br />
    Linguagem de programação para sistemas embarcados: C e C++ (Microcontroladores 8 bit PIC e AVR).<br />
    Software para modelagem:<br />
    * SolidWorks;<br />
    * AutoCad;<br />
    * Eagle (PCB);<br />
    * KiCad (PCB);<br />
    * Fusion 360.<br />
    Conhecimento avançado no pacote Office.
</p>